body {
  box-sizing: border-box;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Orpheus Pro;
  font-weight: lighter;
  font-size: 100%;
}

body::before, body::after {
  box-sizing: border-box;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

h4, h5 {
  font-family: Niveau Grotesk;
  font-weight: normal;
}

/*LINK HOVER*/
.link {
  position: relative;
  transition: clip-path 275ms ease;
}

.link:hover span::before, .link:focus span::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.link span {
  position: relative;
  display: inline-block;
  color: white;
}

.link span::before {
  position: absolute;
  content: attr(data-content);
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
  opacity: 80%;
  clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  transition: clip-path 275ms ease;
}

/*NAVBAR*/
.nav-container {
  position: fixed;
  top: 0px;
  display: flex;
  position: relative;
  margin: 1rem;
  font-family: Niveau Grotesk;
  font-weight: lighter;
  height: 1rem;
  z-index: 1;
}

.nav-container .nav-menu {
  display: flex;
  position: absolute;
  right: 0;
}

.nav-container .nav-menu a {
  padding-left: 1rem;
}

.nav-container .a-blue {
  color: white;
}

/*HOME*/
.hero {
  text-align: left;
  margin: 12rem 2rem;
  text-align: center;
}

.hero h2 {
  -webkit-text-stroke: 0.3px white;
  color: black;
  font-size: 10.5vw;
  line-height: 0;
  position: relative;
  left: -2rem;
}

.hero p {
  position: relative;
  left: 1rem;
  font-size: 9.4vw;
  font-family: Niveau Grotesk;
  font-weight: lighter;
  line-height: 0%;
}

.hero p em {
  font-style: normal;
  font-size: 3.5vw;
  line-height: 0%;
}

.description {
  margin: 0 1rem;
  font-size: 2rem;
}

.home-project {
  margin: 10vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 380px));
  grid-gap: 1rem;
  justify-content: center;
}

.home-project a {
  overflow: hidden;
  position: relative;
  pointer-events: none;
  cursor: default;
}

.home-project a .foto-project {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.redirect {
  display: flex;
  justify-content: flex-end;
  margin: 10vw 8vw;
  font-size: 5vw;
}

/*TOP CONTAINER*/
.top-container {
  background-color: black;
  height: 18rem;
  width: 100%;
  position: relative;
  z-index: -1;
  width: auto;
  overflow: hidden;
}

.top-container .page-desc {
  margin-left: 1rem;
  margin-top: 3rem;
  color: white;
  font-size: 1rem;
  font-weight: lighter;
  font-family: Niveau Grotesk;
  position: absolute;
  bottom: 15%;
  left: 0rem;
}

.top-container .page-heading {
  font-size: 10.5rem;
  font-weight: lighter;
  letter-spacing: -0.020em;
  -webkit-text-stroke: 0.5px white;
  color: black;
  line-height: 52%;
  margin-left: -1rem;
  position: absolute;
  bottom: -120px;
  object-fit: contain;
}

/*ABOUT*/
.profile-img {
  margin: 2rem 1rem;
  height: 23rem;
  overflow: hidden;
  position: relative;
}

.profile-img img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.profile-desc {
  font-family: Niveau Grotesk;
  font-weight: lighter;
  margin-left: 1rem;
  font-size: 1.6rem;
  line-height: 125%;
}

.hobby-desc {
  margin-left: 1rem;
  font-family: Niveau Grotesk;
}

.hobby-gallery {
  display: grid;
  grid-template-columns: repeat(2 0.5fr);
  grid-template-areas: "f1 f2" "f3 f2";
  grid-gap: .5rem;
  margin: 0 1rem;
}

.hobby-gallery .hfoto1 {
  grid-area: f1;
  height: 15rem;
}

.hobby-gallery .hfoto2 {
  grid-area: f2;
  height: 100%;
}

.hobby-gallery .hfoto3 {
  grid-area: f3;
  height: 100%;
}

.hobby-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.exp {
  padding-top: 2rem;
  margin: 1rem;
}

.exp ul {
  font-family: Niveau Grotesk;
  font-size: 1.8rem;
}

.exp ul em {
  margin-left: 0.5rem;
  font-size: 0.6rem;
}

/*WORK*/
.work-top {
  margin: 2rem 0;
}

.work-top .work-list {
  margin: 0 1rem;
  font-size: 3.5rem;
}

.work-top .work-list .list-item-1 {
  font-family: Niveau Grotesk;
  font-weight: lighter;
  border-bottom: solid 1px;
}

.work-top .work-list .list-item-2 {
  font-style: oblique;
  border-bottom: solid 1px;
}

.work-top .work-list .list-item-3 {
  font-family: Niveau Grotesk;
  border-bottom: solid 1px;
}

.work-top .work-img {
  display: grid;
  align-items: flex-end;
  grid-template-columns: 1fr;
  margin: 2rem 1rem;
}

.work-top .work-img img {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.work-container {
  margin: 0 1rem;
  border-bottom: solid 1px;
}

.work-container .title {
  font-size: 12vw;
  font-weight: lighter;
  line-height: 0%;
  position: relative;
  bottom: -4vw;
}

.work-container .work-img {
  height: 200px;
}

.work-container .textile-gallery {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: .5rem;
  margin-bottom: 3rem;
}

.work-container .textile-gallery a {
  z-index: -1;
  height: 200px;
  background-color: white;
}

.work-container .textile-gallery a img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.work-container .graphic-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .5rem;
  margin-bottom: 3rem;
}

.work-container .graphic-gallery a {
  z-index: -1;
  height: 200px;
  background-color: white;
}

.work-container .graphic-gallery a img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.work-container .work-services {
  padding-bottom: 1.5rem;
}

.work-container .work-services .services-list {
  font-size: 1.3rem;
  font-style: oblique;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
}

.work-container .work-services .services-list li {
  line-height: 1.5rem;
  display: flex;
}

.work-container .work-desc {
  font-family: Niveau Grotesk;
  font-size: 1.5rem;
}

.work-container .work-desc h4 {
  margin-top: 1.2rem;
}

.work-container .work-desc p {
  line-height: 2rem;
  margin-top: -1rem;
}

/*FOOTER*/
.cta-container {
  margin: 1rem;
}

.cta-container .cta {
  position: relative;
}

.cta-container .cta .cta-title {
  font-size: 2.5rem;
  letter-spacing: -2px;
  -webkit-text-stroke: 0.5px white;
  color: black;
}

.cta-container .cta .cta-subtitle {
  font-family: Niveau Grotesk;
  font-weight: normal;
  font-size: 1.5rem;
  position: absolute;
  top: 2rem;
}

.cta-container .cta .contact {
  font-size: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.cta-container .cta .contact li {
  margin-left: 1rem;
}

/* Tablet-Pc Mode */
@media screen and (min-width: 768px) {
  .description {
    margin: 0 10vw;
    font-size: 3rem;
  }
  .home-project {
    margin: 0 10vw;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .redirect {
    margin: 5rem 10vw;
    font-size: 1.5vw;
  }
  .top-container {
    height: 45rem;
    width: auto;
  }
  .top-container .page-heading {
    font-size: 36rem;
    position: absolute;
    bottom: -25rem;
  }
  #top-work {
    height: 35rem;
  }
  .profile-present {
    max-width: 900px;
    margin: 0 10vw;
    margin-top: 2rem;
    grid-template-columns: 1fr 2fr;
    display: grid;
    grid-template-areas: "p-img p-des" ". p-ext";
  }
  .profile-present .profile-img {
    grid-area: p-img;
    height: 90%;
  }
  .profile-present .profile-desc {
    grid-area: p-des;
  }
  .profile-present .profile-extra {
    grid-area: p-ext;
  }
  .center {
    display: flex;
    justify-content: center;
  }
  .work-top {
    margin: 0 10vw;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }
  .work-top .work-list {
    width: 350px;
    order: 2;
  }
  .work-top .work-img {
    margin: 0 1rem;
  }
  .work-container {
    margin: 0 10vw;
  }
  .work-container .title {
    font-size: 7vw;
  }
  .work-container .work-services .services-list {
    margin-top: 2.5rem;
    width: 220px;
    display: flex;
    flex-direction: column;
  }
  .work-container .work-services .services-list li {
    padding-bottom: 2rem;
  }
  .textile-container {
    display: grid;
    grid-template-areas: "t-gal t-gal" "w-ser w-des";
  }
  .textile-container .textile-gallery {
    grid-area: t-gal;
    height: auto;
  }
  .textile-container .textile-gallery a {
    height: 350px;
  }
  .textile-container .work-services {
    grid-area: w-ser;
  }
  .textile-container .work-desc {
    grid-area: w-des;
  }
  .graphic-container {
    display: grid;
    grid-template-areas: "g-gal g-gal" "w-des w-ser";
    grid-template-columns: 4fr 1fr;
  }
  .graphic-container .graphic-gallery {
    grid-area: g-gal;
    height: auto;
  }
  .graphic-container .graphic-gallery a {
    height: 350px;
  }
  .graphic-container .work-services {
    grid-area: w-ser;
  }
  .graphic-container .work-services .services-list {
    margin-top: 2.5rem;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .graphic-container .work-services .services-list li {
    display: flex;
    padding-bottom: 2rem;
  }
  .graphic-container .work-services h4 {
    display: flex;
    justify-content: flex-end;
  }
  .graphic-container .work-desc {
    grid-area: w-des;
  }
  .cta-container {
    margin: 0 10vw;
    margin-top: -3rem;
    position: relative;
    margin-bottom: 15rem;
  }
  .cta-container .cta .cta-title {
    font-size: 12vw;
    letter-spacing: -1vw;
  }
  .cta-container .cta .cta-subtitle {
    font-size: 4vw;
    position: absolute;
    top: 12vw;
  }
  .cta-container .cta .contact {
    position: absolute;
    bottom: -2vw;
    right: 0px;
  }
  .cta-container .cta .contact li {
    font-size: 1.5vw;
    margin-left: 1rem;
  }
  .nav-container {
    margin: 0 10vw;
  }
}

/* BIG SCREENS */
@media screen and (min-width: 1400px) {
  .wrapper {
    margin: 0 8rem;
  }
  .nav-container {
    margin: 0 20vw;
  }
  .hero h2 {
    font-size: 9.5rem;
  }
  .hero p {
    font-size: 8.3rem;
  }
  .hero p em {
    font-size: 2.5rem;
  }
}
