/* ANIMATIONS BARBA */

.home-once {
    opacity: 0;
} 

.home-once-active {
    transition: opacity 1s linear;
}

.home-once-to {
    opacity: 1;
}


.about-leave {
    opacity: 1;
} 

.about-leave-active {
    transition: opacity 1s linear;
}

.about-leave-to {
    opacity: 0;
}

.about-enter {
    opacity: 0;
} 

.about-enter-active {
    transition: opacity 1s linear;
}

.about-enter-to {
    opacity: 1;
}