/* Tablet-Pc Mode */

@media screen and (min-width: 768px) {
     
    

    .description {
        
        margin:0 10vw;
        font-size: 2rem;
    
    }
    
    .home-project {
       
        margin:0 10vw;
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    }
    .redirect {
        margin: 5rem 10vw;
        font-size: 1.5vw;
        
    }

    .top-container {
        height: 45rem;
        width: auto;
        .page-heading {
            font-size: 36rem;
            position: absolute;
            bottom: -25rem;
        }
    }
    #top-work {
        height: 35rem;
    }

    
    
    .profile-present {
        max-width: 900px;
        
        margin:0 10vw;
        margin-top: 2rem;
        grid-template-columns: 1fr 2fr;
        display: grid;
        grid-template-areas:
        "p-img p-des"
        ". p-ext";

        .profile-img {
            grid-area: p-img;
            height: 90%;
        } 

        .profile-desc {
            grid-area: p-des;
        }

        .profile-extra {
            grid-area: p-ext;
        }
    }
    .center {
        display: flex;
        justify-content: center;
    }
    
    .work-top {
        
        margin:0 10vw;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;

        .work-list {
            width: 350px;
            order: 2;
        }

        .work-img {
            margin:0 1rem;
        }
    }
    

    .work-container {
        
        margin:0 10vw;
        .title {
            font-size: 7vw;
            
        }
        .work-services {

            .services-list {
                margin-top: 2.5rem;
                width: 220px;
                display: flex;
                flex-direction: column;
                
                li {
                    padding-bottom: 2rem;
                }
                
                
            }
        }
    }
    .textile-container {
        display: grid;
        grid-template-areas:
        "t-gal t-gal"
        "w-ser w-des";
        

        .textile-gallery {
            grid-area: t-gal;
            height: auto;
            a {
                height: 350px;
            }
        }

        .work-services {
            grid-area: w-ser;
        }

        .work-desc {
            grid-area: w-des;
            
        }
    }

    .graphic-container {
        display: grid;
        grid-template-areas:
        "g-gal g-gal"
        "w-des w-ser";
        grid-template-columns: 4fr 1fr;
    

        .graphic-gallery {
            grid-area: g-gal;
            height: auto;
            a {
                height: 350px;
            }
            
        }

        .work-services {
            grid-area: w-ser;
            
            .services-list {
                margin-top: 2.5rem;
                width: 220px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                
                
                li {
                    display: flex;
                    padding-bottom: 2rem;
                    
                    
                }
                 
            }
            h4 {
                display: flex;
                justify-content: flex-end;
            }
            
        }

        .work-desc {
            grid-area: w-des;
        }
    }


    
    .cta-container {
        margin:0 10vw;
        margin-top: -3rem;
        position: relative;
        margin-bottom: 15rem;

        .cta {
           
            .cta-title{
                font-size: 6rem;
                letter-spacing: -.4rem;
            }
            .cta-subtitle {
                font-size: 3.2rem;
                position: absolute;
                top: 5rem;
            }
            .contact {
                position: absolute;
                bottom: -6rem;
                right: 0px;
                li {
                    font-size: 1.5rem;
                    margin-left: 1rem;
                }
            }
           
        }
    }

    .nav-container {
        margin:0 10vw;


    }
}


/* BIG SCREENS */ 

@media screen and (min-width: 1400px) {

    .wrapper {
    margin:0 8rem;
    }
    .nav-container {
        margin:0 20vw;


    }
    .cta-container {
        margin:0 20vw;
    .hero {
        h2 {
            font-size: 9.5rem;
        }

        p {
            font-size: 8.3rem;

            em {
                font-size: 2.5rem;
            }
        }
    }
    }
    
}