

body {
    box-sizing: border-box;
    &::before, &::after {
        box-sizing: border-box;
      }
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Orpheus Pro;
    font-weight: lighter;
    font-size: 100%;
}




ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

a {
    text-decoration: none;
    color: white;
}

h4,h5 {
    font-family: Niveau Grotesk;
    font-weight: normal;
    
}

/*LINK HOVER*/
.link {
    position: relative;
    transition: clip-path 275ms ease;
    &:hover span::before, &:focus span::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    span {
      position: relative;
      display: inline-block;
      color: white;
      &::before {
        position: absolute;
        content: attr(data-content);
        color: white;
        text-decoration: underline;
        text-decoration-color: white;
        opacity: 80%;
        clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
        transition: clip-path 275ms ease;
      }
    }
  }

/*NAVBAR*/
.nav-container {
    position: fixed;
    top: 0px;
    display: flex;
    position: relative;
    margin: 1rem;
    font-family: Niveau Grotesk;
    font-weight: lighter;
    height: 1rem;
    z-index: 1;
    


    .nav-menu {
        display: flex;
        position: absolute;
        right: 0;
        a {
            padding-left:1rem;
        }
        
    }
    
    .a-blue {
        color:white;
    }
}

/*HOME*/
.hero {
    text-align: left;
    margin: 12rem 2rem;
    text-align: center;
    
    
    
    h2 {
        -webkit-text-stroke: 0.3px rgb(255, 255, 255);
        color: black;
        font-size: 10.5vw;
        line-height: 0;
        position: relative;
        left: -2rem;
    }

    p {
        position: relative;
        left: 1rem;
        font-size: 9.4vw;
        font-family: Niveau Grotesk;
        font-weight:lighter;
        line-height: 0%;
        
        
        em {
            font-style: normal;
            font-size: 3.5vw;
            line-height: 0%;
        }
    }
}

.description {
    margin:0 1rem;
    font-size: 2rem;

}
.home-project {
    
    margin: 10vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,380px));
    grid-gap: 1rem;
    justify-content: center;

    a {
        overflow: hidden;
        position: relative;
        pointer-events: none;
        cursor: default;

        .foto-project {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }  
}

.redirect {
    display: flex;
    justify-content: flex-end;
    margin:10vw 8vw;
    font-size: 5vw;
    
}


/*TOP CONTAINER*/

.top-container {
    background-color:black;
    height: 18rem;
    width: 100%;
    position: relative;
    z-index: -1;
    width: auto;
    overflow: hidden;
    
    
    
    .page-desc {
        margin-left: 1rem;
        margin-top: 3rem;
        color: white;
        font-size: 1rem;
        font-weight: lighter;
        font-family: Niveau Grotesk;
        position: absolute;
        bottom: 15%;
        left: 0rem;
    }
    .page-heading {
        
        font-size: 10.5rem;
        font-weight: lighter;
        letter-spacing: -0.020em;
        -webkit-text-stroke: 0.5px rgb(255, 255, 255);
        color: black;
        line-height: 52%;
        margin-left: -1rem;
        
        position: absolute;
        bottom: -120px;
        object-fit: contain;
    }
}

/*ABOUT*/

.profile-img {
    margin: 2rem 1rem;
    height: 23rem;
    overflow: hidden;
    position: relative;
    
    img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

}



.profile-desc {
    font-family: Niveau Grotesk;
    font-weight: lighter;
    margin-left: 1rem;
    font-size: 1.6rem;
    line-height: 125%;
}

.hobby-desc {
    margin-left: 1rem;
    font-family: Niveau Grotesk;
}

.hobby-gallery {
    display: grid;
    grid-template-columns:repeat(2 .5fr);
    grid-template-areas: 
    "f1 f2"
    "f3 f2";
    grid-gap: .5rem;
    margin:0 1rem;

    
    .hfoto1 {
        grid-area: f1;
        height: 15rem;
    }
    .hfoto2 {
        grid-area: f2;
        height: 100%;

    }
    .hfoto3 {
        grid-area: f3;
        height: 100%;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
   
}


.exp {
    padding-top: 2rem;
    margin: 1rem;
    
    ul{
        font-family: Niveau Grotesk;
        font-size: 1.8rem;
        

        em {
            margin-left: 0.5rem;
            font-size: 0.6rem;
            
        }
    }
}

/*WORK*/

.work-top {
     margin:2rem 0;
    
    .work-list {
        margin:0 1rem;
        font-size: 3.5rem;

        .list-item-1 {
             font-family:Niveau Grotesk;
             font-weight: lighter;
             border-bottom:solid 1px;
        }
        .list-item-2 {
            font-style: oblique;
            border-bottom:solid 1px;
        }
        .list-item-3 {
            font-family:Niveau Grotesk;
            border-bottom:solid 1px;
            
        }
    }
    
    .work-img {
        display: grid;
        align-items: flex-end;
        grid-template-columns: 1fr;
        margin:2rem 1rem;
        img {
             width: 100%;
             height: 190px;
             object-fit: cover;
        }
    }
}

.work-container {
    margin: 0 1rem;
    border-bottom: solid 1px;
    .title {
        font-size: 12vw;
        font-weight: lighter; 
        line-height: 0%;  
        position: relative;
        bottom: -4vw;
    }

    .work-img {
        height: 200px;
    }

    .textile-gallery {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: .5rem;
        margin-bottom: 3rem;
        
   
        a {
            z-index: -1;
            height: 200px;
            background-color: rgb(255, 255, 255);
            
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

    }

    .graphic-gallery {
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: .5rem;
        margin-bottom: 3rem;
        a {
            z-index: -1;
            height: 200px;
            background-color: rgb(255, 255, 255);
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

    }
    
    .work-services {
        padding-bottom: 1.5rem;
        
        .services-list {
            font-size: 1.3rem;
            font-style: oblique;
            justify-content: space-between;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding: 0;
            margin: 0;
            
            li {
                line-height: 1.5rem;
                display: flex;
                
            }
        }
    }
    
    .work-desc {
        font-family: Niveau Grotesk;
        font-size: 1.5rem;

        h4 {
            margin-top: 1.2rem;
        }

        p {
            line-height: 2rem;
            margin-top: -1rem;
        }
    
    }
}


/*FOOTER*/



.cta-container {
    margin: 1rem;
    
    .cta {
        position: relative;
        
        .cta-title{
            font-size: 2.5rem;
            letter-spacing: -2px;
            -webkit-text-stroke: 0.5px rgb(255, 255, 255);
        color: black;
        }
        .cta-subtitle {
            font-family: Niveau Grotesk;
            font-weight: normal;
            font-size: 1.5rem;
            position: absolute;
            top: 2rem;
        }
        .contact {
            font-size: 1rem;
            margin-top: 1rem;
            display: flex;
            justify-content: flex-end;
            li {
                margin-left: 1rem;
            }
        } 
    } 
    
}


@import "mediaq";




